<p>
this shows a single todo if we render single todo using id 
</p>

<p style="margine-top: 20px; padding-top: 30px ">  
    it is render using todo_cotroller's show method and it will be used by application.html.erb
</p> 