<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our todo manager app by prabal ghosh</title>
    <link rel="stylesheet" type="text/css"  herf="reset.css"> 
    <link rel="stylesheet" type="text/css" href="my-app.css">
</head>
<body>
   
    <!-- <main class="TodoPageMian">
    <h1 class="TodoPage-Title">My Todo-list</h1>
    <artical> -->
        <!-- <section class="TodoSection"> 
            <input class="AddTodo" type="text" placeholder="What's next?">
            <input class="AddTodo-text" type="date">
            <input class="AddTodo-button" type="button" value="Add"> 
            <h2 class="TodoSection-Title"> Due toady</h2>
            <p class="TodoSection-Todo"> Submit saas 201 project</p>
            <p class="TodoSection-Todo">call accountant</p>
        </section> -->

        <!-- <section class="AddTodo"> 
            <input class="AddTodo-text" type="text" placeholder="What's next?">
            <input class="AddTodo-date" type="date">
            <input class="AddTodo-button" type="button" value="Add"> 
        </section> -->


        <!-- <section class="TodoSection"> 
            <h2 class="TodoSection-Title"> Due tomorrow</h2>
            <p class="TodoSection-Todo"> reldill groceries</p>
            <p class="TodoSection-Todo">okk</p>
        </section> -->

        <!-- <section class="TodoSection"> 
            <div class="TodoSectionTitle">
                <p class="TodoSectionTitle-text">Due Today</p>
                <p class="TodoSectionTitle-remaningCount">0/4 </p>

            </div>
            <ul>
                <li class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox"  type="checkbox">
                        Submit Saas201 project
                        <p class="TodoItem-overdueabel" > Overdue</p>
                        <a class="TodoItem-delete" href="javascript:void(0)"></a>
                    </label>
                </li>


                <li class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox"  type="checkbox">
                        Type something
                        <p class="TodoItem-overdueabel" > Overdue</p>
                        <a class="TodoItem-delete" href="javascript:void(0)"></a>
                    </label>
                </li>
            </ul>
        </section>
    </artical>
</main> -->

</body>
</html>
